# Core API
fastapi==0.109.0
uvicorn[standard]==0.27.0

# Pydantic v2 (Python 3.13 compatible)
pydantic==2.5.0

# Supabase
supabase==2.10.0

# Database
psycopg2-binary==2.9.9

# Env & HTTP
python-dotenv==1.0.0
requests==2.31.0
httpx==0.27.0

# LLM
groq==0.9.0

# Embeddings
transformers==4.39.3


# Utilities
tqdm==4.66.2
PyMuPDF==1.21.1
